@font-face {
    font-family: myFirstFont;
    src: url(HelveticaNeueUltraLight.ttf);
  }
*{
   font-family:myFirstFont,"Helvetica Ultra Light","Helvetica Neue",Helvetica,arial,sans-serif;
   font-size: 22px;
}

.container{
    height: fit-content;
    width:fit-content;
   
    display: grid;
    grid-auto-columns: 57px ;
    grid-template-rows: 70px 47px 47px 47px 47px 47px ;
    box-shadow:0 0 10px 0 rgba(0,0,0,.4);
    position: fixed;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);

}

.small-box{
    
    border: 1px solid #898279;
    display: flex;
    justify-content: center;
    align-items: center;

}

.results{
    border: 3px solid #898279 ;
    
    text-align: right;
    position: relative;
    border-top-left-radius: 3px;

    border-top-right-radius:3px;
    grid-row: 1;
    grid-column: 1/5;
    background-color: #898279;
    color: white;
      
}
.results > div{
    position: absolute;
    bottom:0;
    right:0;
    padding-right:10px;
    font-size: 33px;
}

.x{
    font-size: 18px;
}

.minus{
    
    font-size:42px;
}

.numbers{
    background-color: #e0e0e0;
    font-weight: bold;
}
.sign{
    grid-column:4/4;
    background-color: #ff8c00;
    color:white;
    
}
.symbols{
    grid-row:2 ;
    background-color: #d6d6d6;
    color:#898279;
}

.zero{
    grid-column:1/3;
    border-bottom-left-radius: 3px;
}

.equals{
    border-bottom-right-radius: 3px;
}